.navbar{

    height:80px;    
    display:flex;
    
    color:white;
    justify-content:space-between;
}

.navlinks{
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 80px;
}
.navlinks a{
    font-size:20px; 
    color: black; 
    padding-right: 2em;
}

.headerlogo{

    padding-top: 20px;
    padding-left: 120px ;
}

.sec1{

    background-image: url("https://img.wallpapersafari.com/desktop/728/410/39/73/MqFz5L.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1-2{

    padding-top: 4em;
    padding-right:7em;
    padding-left:8em;
    display:flex;
    justify-content: space-around;
}
.content{
    
    padding-top: 2em;
    color:white;
}
.content h2{
    font-size:44px ;
     color:black;
}
.content p{
    font-size : 28px; 
    color:black;
}
.content button{
    height: 35px; color: palevioletred; font-size: large;
}

.sec2 h2{
    text-align:center ; padding-top:30px ; font-size:38px; color:black;
}
.img1 img{
    position: relative;
    left: 4em;
}
.author{
    padding-left: 50em;
}

.frame {
	position: relative;
	color: #f9faf8;
	
	height: 15px;
	width: 400px;
    margin: 2px;
}

.flexitems p{
    font-size: 20px;
    text-align: center;
}
.imgclass {
    
    text-align: center;
    padding-left: 60px;
    /* border: 6px solid black; */
}
.flexitems{
    justify-content: center;
    display:flex;
    padding-top: 30px;
    padding-bottom: 60px;
    
}
.quote{
    background-color: pink;

    padding-top:4em;
    padding-bottom:1em;
    }
.quote p{
    display: flex;
    text-align: center;
    colour:black;
    font-size: 30px;
    justify-content: center;
}
.action{

    background-color: aliceblue;
    padding: 60px;
    
}
.box{
    background-color: palevioletred;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    border-radius: 6px;
    justify-content: center;
}

.box p{
    font-size: 30px;
    padding-right: 60px;
}


.imgclass img:hover{
    transform: scale(1.5);
}


